target/classes/hometask2/hometask2.LoginScreen.class
target/classes/hometask2/hometask2.SettingsScreen.class
target/classes/hometask2/hometask2.SignUpScreen.class
target/test-classes/hometask2/Capabilities.class
target/test-classes/hometask2/ContactsListTest.class
target/test-classes/hometask2/SearchTest.class
target/test-classes/hometask2/hometask2/hometask2.pageobjects.ContactsListScreen.class
src/main/resources/.idea/compiler.xml
src/main/resources/.idea/misc.xml
src/main/resources/.idea/modules.xml
src/main/resources/.idea/resources.iml
src/main/resources/.idea/workspace.xml
src/main/resources/.idea/copyright/profiles_settings.xml
target/classes/hometask2.LoginScreen.class
target/classes/hometask2.SettingsScreen.class
target/classes/hometask2.SignUpScreen.class
target/classes/.idea/compiler.xml
target/classes/.idea/misc.xml
target/classes/.idea/modules.xml
target/classes/.idea/resources.iml
target/classes/.idea/workspace.xml
target/classes/.idea/copyright/profiles_settings.xml
target/classes/hometask2.capabilities/Capabilities.class
target/classes/hometask3/pageobjects/MainPage.class
target/classes/hometask3/pageobjects/SettingsPage.class
target/test-classes/hometask3/CheckTotalAmountValue$Platform.class
target/test-classes/hometask3/CheckTotalAmountValue.class
target/test-classes/hometask4/BaseTest.class
target/test-classes/hometask4/WebTest.class
target/classes/LoginScreen.class
target/classes/SettingsScreen.class
target/classes/SignUpScreen.class
